.App-quacker-news {
  text-align: left;
  width: 70%;
  height: 100%;
  margin: 0 auto 2rem;
  border: 3px solid #eee;
  box-shadow: 0 0 1rem 1rem #eee;
  display: flex;
  flex-direction: column;
  > header {
    padding-left: 2rem;
    display: flex;
    a {
      text-decoration: none;
      color: #111;
      h1 {
        margin: 0;
      }
    }
  }
}

.Stories-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Stories-list {
  display: flex;
  flex-direction: column;
}

.Story-list-item {
  display: flex;
  min-height: 2rem;
  padding: 0.2rem;
  &:nth-child(odd) {
    background: #eee;
  }
  > aside {
    display: flex;
    min-width: 2rem;
    justify-content: center;
    align-items: top;
  }
  > article {
    display: flex;
    flex-direction: column;
    text-color: #111;
    div {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      h1 {
        display: inline-block;
        margin: 0;
        padding-right: 0.2rem;
        font-size: 1rem;
      }
      a {
        text-decoration: none;
        color: #111;
      }
      span {
        margin-right: 0.2rem;
      }
    }
  }
}

.Show-next-page {
  display: block;
  width: 100%;
  min-height: 3rem;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #111;
  > span {
    font-weight: bold;
  }
}

.Comments-container {
  margin: 0 0 2rem 2rem;
  border-bottom: 3px solid #eee;
}

.Comment-list {
  border: 3px solid #eee;
  border-bottom: none;
  border-right: none;
  &:first-of-type {
    border-top: none;
  }
  .Comment-list {
    margin-left: 1.5rem;
  }
}

.Comment {
  padding: 0.2rem;
  header {
    font-size: 0.9rem;
    color: #333;
    span {
      &:first-child {
        margin-right: 0.2rem;
      }
      &:last-child {
        cursor: pointer;
      }
    }
  }
  div {
    overflow-x: auto;
    * {
      word-wrap: break-word;
    }
  }
}

.Collapsed {
  max-height: 1.6rem;
  overflow: hidden;
}

.Loading {
  margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
  .Comment-list {
    .Comment-list {
      margin-left: 0.5rem;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .App-quacker-news {
    width: 85%;
  }
}

@media only screen and (max-width: 1000px) {
  .App-quacker-news {
    width: 100%;
  }
}
