.App-quacker-news {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  > header {
    display: flex;
    > h1 {
      margin: 0;
    }
  }
  .Stories-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .Stories-list {
      display: flex;
      flex-direction: column;
    }
    .Show-next-page {
      display: block;
      width: 100%;
      min-height: 3rem;
      background-color: #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #111;
      > span {
        font-weight: bold;
      }
    }
  }
}

